#div-user {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0px;
  padding: 35px 20px;
  width: 200px;
  background-color: var(--corNavEscura);
  color: var(--corSemHover);
  border: 2px solid lightgray;
  border-right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.6s;
}
#buttonFechar,
#buttonLogarSair {
  background-color: var(--corNavEscura);
  color: var(--corSemHover);
  padding: 5px;
  font-size: 1.3em;
  border: 1px solid lightgray;
  border-radius: 10px;
  transition: 0.3s;
}
#buttonFechar:hover,
#buttonLogarSair:hover {
  filter: brightness(1.3);
}
#buttonFechar:active,
#buttonLogarSair:active {
  transition: 0.1s;
  background-color: var(--corFundo);
  color: var(--corSemHover);
}